[user]
  name = Tiu Wee Han
  email = contact@tiuweehan.com

[github]
  user = tiuweehan

[core]
  pager=delta 

[delta]
  syntax-theme = Monokai Extended
  line-numbers = true
  side-by-side = true

[interactive]
  diffFilter = delta --color-only
